* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-1: #1565c0;
  --color-2: #0d47a1;
  --color-3: #e8eaf6;
}

html,
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.display {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 100px;
  grid-template-areas:
    "Header Header"
    "Menu Content"
    "Menu Content";
}

@media (max-width: 767px) {
  .display {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 100px;
    grid-template-areas:
      "Header Header"
      "Content Content"
      "Content Content";
  }
}
